@font-face {
  font-family: 'logo';
  src: url("resources/fonts/FranklinGothicMedium.otf");
  //font-display: swap;
}

// @font-face {
//   font-family: 'MPLUS1p';
//   src: url("./MPLUS1p.ttf");
// }

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@text_color_primary: #000000A0;
@text_color_secondary: #0a090999;
@text_color_unselected: #00000033;
@text_color_hovered: #00000077;

@background_color: gray;

@phone_width: 767px;
@pc_width: 1000px;

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.backward {
  display: inline-block;

  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: @background_color;
  font-weight: normal;

  overflow: hidden;
}

#wrapper {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#canvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

.link_area_container {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.link_area {
  pointer-events: initial;
  padding-right: 24px;
}

.link {
  .logofont();
  letter-spacing: 0px !important;
  font-size: 12px;
  margin-right: 8px;
  width: auto;
  display: inline-block;
}

.link_area_item {
  //prevent a kind of blue shit
  color: black;
  opacity: 0.5;
  text-decoration-color: none;
  text-decoration: none;
  background-repeat: repeat-y;
  background-position: left top;
  background-size: 18px 18px;
  width: auto;
  padding-left: 23px;
}

.content {
  max-width: 800px;
  width: 100%;
  height: 100%;

  @media(max-width: @pc_width) {
    max-width: 100%;
  }

  min-height: 100vh;

  overflow: hidden;

  background-color: white;
  background-image: url(resources/bg.png);
  background-size: 400px 400px;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: padding-box;

  padding: 30px;
  padding-bottom: 0px;

  @media(max-width: @phone_width) {
    padding: 15px;
    padding-bottom: 0px;
    background-size: 300px 300px;
  }
}

#main {
  min-height: 100%;
  height: 100%;
}

.loading_endp {
  width: 80px;
  opacity: 0.5;
  margin-top: 180px;
  margin-bottom: 20px;
  animation: rotation 0.7s ease-out infinite;
}

.loading_text {
  .mini_text();
  font-size: 16px;
  opacity: 1;
  animation: blink 0.09s linear infinite;
}

p {
  font-family: monospace;
  font-size: 12px;
}

.credits {
  position: absolute;
  font-size: 1px;
  color: white;
  opacity: 0.6;
  margin: 12px;
  margin-right: 28px;
  right: 0;

  //  font-family: "MPLUS1p";
}

.logofont {
  letter-spacing: 1px;
  color: @text_color_primary;
  font-weight: normal;
  font-family: logo;
  margin: 0;
}

.type_text {
  .logofont();
  opacity: 0;
}

.type_text span {
  opacity: 0;
}

.headline {
  .logofont();
  font-size: 28px;
  margin-bottom: 24px;
}

#label_title {
  background: -webkit-linear-gradient(60deg, @text_color_unselected, @text_color_primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnime 15s infinite;
  background-size:400%;
}
@keyframes textAnime{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.tab_item {
  .logofont();
  font-size: 12px;
  color: @text_color_unselected;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 8px;
  margin-right: 12px;
  transition-duration: .3s;

  &:hover {
    color: @text_color_hovered;
    transform: scale(1.01);
  }

  &.active {
    color: @text_color_primary;
  }
}

.tab_content {
  display: none;
  clear: both;

  &.show {
    display: block;
    position: relative;
    animation: show .3s linear 0s;
  }
}

.works_sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;

  margin-top: 12px;
  padding-top: 12px;

  padding-bottom: 120px;
  margin-right: 20px;
  background-color: transparent;
  border-right: 1px solid #00000020;


  @media(max-width: @pc_width) {
    width: fit-content;
    padding-right: 12px;
  }
  @media(max-width: @phone_width) {
    padding-right: 0px;
  }

}

.sidebar_item {
  .logofont();
  font-size: 12px;
  text-align: left;
  color: @text_color_unselected;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 1.5;
  margin-bottom: 14px;

  width: 100%;

  transition-duration: .2s;

  &:hover {
    color: @text_color_hovered;
    transform: scale(1.01);
  }

  &.active {
    color: @text_color_primary;
    transform: scale(1.01);
  }

  @media(max-width: @phone_width) {
    font-size: 11px;
  }

  @media(max-width: @pc_width) {
    width: auto;  
  }
}

.heading_with_background {
  .logofont();
  font-size: 10px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;

  width: fit-content;
  opacity: 0.65;
  background-color: @text_color_primary;
  color: white;

  overflow: hidden;

  @media(max-width: @phone_width) {
    font-size: 8px;
  }
}

.works_heading {
  .heading_with_background();

  margin-top: 16px;
  margin-bottom: 16px;
}


.mini_text {
  .logofont();
  vertical-align: middle;
  font-style: oblique;
  text-align: justify;
  font-size: 9px;
  color: @text_color_primary;
  opacity: 0.6;
  white-space: nowrap;
  letter-spacing: 0.05;
  transform: scale(1, 0.5);
}

.divider_text {
  .mini_text();
  transform: scale(0.75, 1);
  writing-mode: vertical-lr;
}

.works_content_container {
  width: 100%;
  height: auto;
}

.works_content {
  position: relative;
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0;
  margin-top: 10px;

  &.show {
    width: auto;
    height: 100%;
    min-height: 100%;
    visibility: visible;
    animation: show .3s linear 0s;
  }
  @media(max-width: 400px) {
    position: static;
  }
}

.works_content_left {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  z-index: 1;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 24px;

  background-color: #FFFFFF90;

  padding-left: 12px;

  @media(max-width: 400px) {
    padding-left:  8px;
    padding-right: 8px;
    position: static;
    background-color: transparent;
    z-index: 1;
  }
}

.works_content_right {
  position: absolute;
  width: fit-content;
  top: -36px;
  bottom: auto;
  left: auto;
  right: 0;
  z-index: 0;

  @media(max-width: 400px) {
    position: static;
    padding: 0px;
    padding-left: 8px;
  }

  @media(max-width: @pc_width) {
    right: 36px;
  }
}


.path_info_text {
  .mini_text();

  font-size: 9px;
  color: @text_color_primary;
  opacity: 0.7;
  margin-left: -11px;
  margin-bottom: -4px;
  transform: scale(1, 0.6);
}

.works_title {
  .logofont();
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 18px;

  @media(max-width: @phone_width) {
    font-size: 16px;
  }
}


.tracks_text {
  .logofont();
  color: @text_color_secondary;
  font-size: 10px;
  line-height: 1.8;
  transform-origin: left top;

  @media(max-width: @phone_width) {
    font-size: 8px;
  }
}



.underconst {
  .mini_text();
  top: 0;
  left: 0;
  font-style: normal;
  font-size: 12px;
  color: black;
  opacity: 0.8;
  transform: scale(1, 0.8);

  //animation: blink .08s infinite;
  //animation-iteration-count: 8;
}

.profile_img {
  width: 60px;
  animation: blink .01s infinite;
  animation-iteration-count: 158;
}

.about_title {
  .heading_with_background();

  margin-top: 36px;
}

.about_text {
  .underconst();
  margin-left: 2px;
  margin-right: 16px;
  margin-top: 4px;
  color: @text_color_primary;

  @media(max-width: @phone_width) {
    font-size: 9px;
  }
}

.listen_text {
  .heading_with_background();

  transform: scale(1, 0.6);
  opacity: 1;
  background-color: @text_color_primary;
  opacity: 0.7;
  padding-bottom: 10px;

  animation: blink .04s;
  animation-iteration-count: 15;
}

.bandcamp_embed {
  background-color: #00000015;
  border: 0;
  width: 250px;
  height: 393px;
  animation: show 1s linear 0s;

  @media(max-width: @phone_width) {
    width: 200px;
    height: 343px;
  }
}

.fadein_frame {
  opacity: 0
}

.divider {
  opacity: 0
}